#frontend folder node_modules folder
frontend/node_modules
#Backend folder  all png inside storage folder
backend/storage/*.png
#All bat files in all folders
**/*.bat
#All files that end with db
**/*.db
backend/prisma/database.db
frontend/prisma/dev.db